.menu{
    display: none;
}
.logo{
    height: 45px;
    width: 45px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
}
.adminPanel{
    display: flex;
    /* justify-content: space-evenly; */
    gap: 15px;
    align-items: center;
}
.btnShop{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-weight: bold;
}
.LogoText{
    margin-left: 85px;
}
.hr{
    border: none;              
    height: 0.5px;               
    background-color: #f0ebeb;         
    margin: 20px auto;  
}
.discover{
    margin-top: 10px;
    text-align: center;
}
.menuDiv{
    display: none;
}
.logoImages{
  display: none;
}
.home{
  display: none;
}
.LogoTexts{
  display: none;
}
@media only screen and (max-width:600px){
  .user{
    display: none;
  }
  .language{
    display: none;
  }
  .menu{
    display: block;
  }
  .menuDiv{
    box-shadow: 0 0 5px rgba(221, 221, 221, 0.4);
    background-color: white;
    padding: 10px 20px;
    position: absolute;
    left: 0;
    top: 10%;
    z-index: 100;
    /* display: none; */
    display: block;
  }
   .shop{
    display: grid;
    row-gap: 10px;
    
  } 
  .btnShop{
    display: none;
    margin-top: 0;
    gap: 0;
  
}
.LogoText{
  display: none;
}
.logoImage{
  display: none;
}
  .logoImages{
    display: block;
  }
  .LogoTexts{
    display: block;
  }
  .home{
    display: block;
  }
  .homes{
    color: #d4d2d2;
  }
}