.hr{
    border: none;              
    height: 0.5px;               
    background-color: #f0ebeb;         
    margin: 20px auto;  
}

.divide{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}
.filter{
    display: flex;
    gap: 35px;
    align-items: center;
}
.hideAndShow{
    position: absolute;
    right: 0;
    top: 48%;
    box-shadow: 0 0 5px rgba(151, 138, 138, 0.2);
    background-color: white;
    padding: 15px 35px;
    z-index: 100;
border-radius: 8px;
display: grid;
cursor: pointer;
gap: 25px;
}
.recomnded{
    cursor: pointer;
}

.showAndHide{
    cursor: pointer;
}
.showAndHide p{
    text-decoration: underline;
    color: rgb(212, 213, 214);
}
.items{
    font-weight: bold;
}

.sideBarShow{
    display: flex;
    
}
.sideBarHide{
    width: 100%;
}
.para{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
}
.icon{
    color: red;
}
.filters{
    display: none;
}

@media only screen and (max-width:435px){
    .filter{
        display: none;
    }
    .recomnded{
        display: none;
    }
    .filters{
        padding: 0 15px;
       display: flex;
       gap: 130px;
    }
    .sideBarShows{
         width: 100%;
    }
    .sideBarShow{
        display: none;
    }
    .hideAndShow{
        top: 37%;
    }
}
@media only screen and (max-width:380px){
    
    .hideAndShow{
        top: 55%;
    }
}